{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "jest": true
  },
  "settings": {
    "import/core-modules": [
      "axios"
    ]
  },
  "rules": {
    // Soft some rules.
    "max-len": ["error", 120]
  }
}
