{
  "extends": ["airbnb-base", "prettier", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "jest": true
  },
  "settings": {
    "import/core-modules": [
      "axios"
    ]
  },
  "rules": {
    // Soft some rules.
    "max-len": ["error", 120],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "import/no-cycle": 0
  }
}
